I want to build a demo of a filling in the blank (‘FITB’) that helps veterinarians be quicker with typing their scribe notes.  This will be powered by a LLM that is finetuned in OpenAI.

This current project is a git clone of an existing open source project that caters to a generalised used case, including software code completion, mathematics, to do lists etc, which are not in the scope of my project.  You can safely ignore these use cases.

The current state of this project is very rudimentary.  The performance is slow, the tokens being returned are inaccurate.  A lot needs to be worked on before it is ready for prime time.

However, I do want to push out a demo within the next day.  This will most likely be done through some creative hardcoding.  I will instruct you more in the specific instructions.  But this is the context for your
